<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<style type="text/css" media=screen>

form{
   position:fixed;
   top:50%;
   left:50%;
   width:500px;
    vertical-align:top;

}
</style>
<body bgcolor="#00ffff">
<form name="usrSubmit" action="/ValidateUser" method="POST" enctype="multipart/form-data">
    <label>Enter the Username   </label>
<input name="username" href="/ValidateUser" style="text-align: center" type="text">
</form>

</body>
</html>